{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}

<p>Add New Link:</p>
<form action="{{ url_for('add_entry') }}" method="post">
    <input type=text name=link>
    <input type=submit value=Add>
</form>

<br>

<table class=table>
    <h3>Pennding For Removale</h3>
  {% for file in files %}
  <tr>
    <tb><p>{{file.title}}</p>
    <form action="{{ url_for('reactivate_file') }}" method="POST">
        <button value={{file.id}} name="btn" >Reactivate</button>
    </form>
    </tb>
  </tr>
  {% endfor %}
</table>

<p>Add New Word:</p>
<form action="{{ url_for('add_word') }}" method="post">
    <input type=text name=word>
    <input type=submit value=Add>
</form>

<br>

<table class=table>
    <h3>Stop Words</h3>
    {% for word in words %}
        <tr>
            <td>{{word}}</td>
        </tr>
  {% endfor %}
</table>

{% else %}

{%endif%}

{% endblock %}